@font-face {
    font-family: digital;
    src: url(../font/digital-7/digital-7.ttf);
}
* {
 margin: 0;
 padding: 0;
 box-sizing: border-box;
}
html, body {
 height: 100%
}
h1, h2, h3, h4, h5, h6, p {
 margin-bottom: 16px
}
input{
    font-family: digital;
}

.wrapper{
    width: 700px;
    height: 700px;
    /* background-color: aquamarine; */
    display: flex;
    align-items: center;
    justify-content: space-evenly;  
    margin: 0 auto; 
}

.calcBody{
    /* don't touch calcBody */
    width: 380px;
    height: 500px;
    background-color: #E6E6E6;
}


.calcDisplay{
    /* 2 divs, one fo ropreation, 1 for result */
    width: 293px;
    height: 107px;
    background-color: #BCBCBC;
    margin: auto;
    margin-bottom: 51px;
    margin-top: 37px;
}

.operationDisplay{
    width: 100%;
    height: 50%;
    border: solid 2px rgb(177, 162, 162);
}
.operationDisplay input{
    width: 100%;
    height: 100%;
    font-size: 51px;
    text-align: right;
}
.resultDisplay{
    width: 100%;
    height: 50%;
    /* border-radius: 10%; */
    border: solid 2px rgb(177, 162, 162);
    background-color: rgb(173, 167, 167);
    font-family: digital;
    font-size: 51px;
    text-align: right;
}
/* seperate display and result screen
    as up and down and 50% each */
.numPadContainer{
    width: 306px;
    height: 246px;
    background-color: #D9D9D9;
    margin: auto;
}
.numPadContainer{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-evenly;
    
}

button{
    width: 53px;
    height: 38px;
    background-color: #783030;
    color: whitesmoke;
    font-size: 32px;
    font-family: digital;
    margin: 11px;
}